@CHARSET "UTF-8";

/*==================================*/
/*			BODY: 			 	*/
/*==================================*/
body {
	background-image: url("../img/background/background.jpg");
}

p {
	font-family: Helvetica;
	font-size: 16px;
}

.container {
	/* max-width:900px; */

}
/*==================================*/
/*			HEADER: 			 	*/
/*==================================*/
.header_cont {
	margin-top: 80px;
	margin-bottom: 5px;
	border: 2px solid /* #0089d1 */         #2c3e50;
	background-color: #ecf0f1;
}

.header_img {
	max-height: 138px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

/*==================================*/
/*			NAVIGATION 			 	*/
/*==================================*/
.navig {
	margin-bottom: 10px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}
/*==================================*/
/*			PANEL HEADINGS		 	*/
/*==================================*/
.info-panel {
	padding: 5px 15px 5px 15px;
}
/*==================================*/
/*			FOOTER: 			 	*/
/*==================================*/
.footer-panel {
	margin: 0px;
}

/*==================================*/
/*			CAROUSEL: 			 	*/
/*==================================*/
#myCarousel {
	background-color: none;
}

#myCarousel a {
	margin-bottom: 0px;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius: 0;
	border: none;
	background-color: none;
}
/* Flexible iFrame */
.Flexible-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.Flexible-container iframe,.Flexible-container object,.Flexible-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carousel-inner>.item>img {
	margin: 0 auto;
}

.no-background {
	background-color: transparent;
}
.carousel-padding {
	padding-left: 2px;
	padding-right: 2px;
}

/*==================================*/
/*			MENU PANELS			 	*/
/*==================================*/
.menu-main {
	margin: 5px 0px 0px 0px;
}

.menu-sec {
	margin: 0px 0px 0px 0px;
	font-size: 15px;
}

.menu-sec-no-price {
	margin: 0px 0px 5px 0px;
	font-size: 15px;
}

.menu-price {
	margin: 0px;
	font-size: 14px;
}

/*==================================*/
/*			BOOK A TABLE 			*/
/*==================================*/
.book-img {
	display: block;
	margin-left: auto;
	margin-right: auto
}

/*==================================*/
/*			COLUMN HEIGHT		 	*/
/*==================================*/
.row.equal [class*="col-"] {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.row.equal {
	overflow: hidden;
}

/*==================================*/
/*			CAROUSEL OVERRIDES:  	*/
/*==================================*/
.carousel-caption {
	background-color: black;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	left: 0%;
	right: 0%;
	bottom: 0%;
	padding-bottom: 0px;
	padding-top:0px;
}

.carousel-caption p{
	margin-bottom: 5px;
	margin-top:0px;
}


#links {
	margin:auto;
}

